<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- video status handler -->
    <bean id="videoStatusHandler"
          class="com.ifeng.fhh.fhhService.web.handler.impl.VideoStatusHandler">
        <property name="route" value="/video/status"/>
        <property name="videoService" ref="videoService"/>
        <property name="userAuthorizationService" ref="userAuthorizationService"/>
        <property name="engine" ref="freeMarkerEngine"/>
    </bean>


</beans>